/* Write your CSS here */
.maincontainer {
  background-color: #ffd569;
  height: 100vh;
  padding: 20px;
}

.innercontainer {
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 60%;
}
.image1 {
  width: 20%;
}
.mango {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banana {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  display: flex;
  flex: row;
}
